/* .App {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    align-items: center;
  
  }
   */